<div class="side-bar" style="z-index: 1031">
  <a href="/">
    <i class="fa fa-arrow-left back-arrow"></i>
  </a>
</div>
<!--div class="bg-img"></div-->

<div class="blog" >
  <div class="container">
    <div class="main row" >
      <h2 class="style">TuTu公司介绍</h2>
      <div class="details row">
        <div class="col-md-6">
          <img src="../../assets/img/company.png"  class="img-responsive"/>
        </div>
        <div class="col-md-6">
          <p class="para">途徒网络科技责任有限公司（以下简称“途徒公司”）于2016年10月14日在四川省成都市注册成立，注册资本金为5000万人民币。途徒公司主要经营集成应用系统开发、自驾旅游相关服务等。途徒公司致力于将互联网行业与自驾旅游行业相结合，以移动集成应用系统为基础平台和优质的服务向自驾旅游行业注入新的活力。途徒公司是一家朝气蓬勃的创业型公司，其团队完整，具有创造力，以创新为动力而不断向前。</p>
          <p class="para">途徒公司是一家以服务为主的互联网科技公司，公司注重科技和服务俩大方向。一方面途徒公司拟开发一套集成移动应用系统（名称：途徒自由行），充分借助互联网优势，推动整个自由行旅游市场的高速发展，另一方面，途徒公司不断打造自己独有的自由行服务，向客户提供完整，舒适，安全的自由行体验。 </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <p class="para"> 途徒公司的产品主要为“途徒自由行”集成移动应用系统和自由行服务。“途徒自由行”是一款面向所有人，以地图业务为基础提供路线分享，行程预约，旅游租车，团队拼行，旅游住宿餐饮，旅游景点，实时路况，实时天气，旅游安全等服务的集成移动应用系统。图2-1列出了移动应用系统简化功能图。途徒公司拟建立一套完整自由行服务，我们拥有专业的司机，导游，应急，客服团队，优秀的餐饮酒店景点合作商，通过一个优秀的服务团队来维护自有品牌的服务产品。</p>
      <div class="read_more">
        <a href="index.html">进入TuTu主页</a>
      </div>
    </div>
  </div>
</div>
