<div class="side-bar" style="z-index: 1031">
  <a href="/">
    <i class="fa fa-arrow-left back-arrow"></i>
  </a>
</div>

<div class="slider_bg"><!-- start slider -->
  <div class="container">
    <div class="row slider">
      <div class="wmuSlider example1"><!-- start wmuSlider example1 -->
        <div class="wmuSliderWrapper">
          <article>
            <div class="slider_img text-center">
              <ul class="list-unstyled list_imgs">
                <li><img src="../../assets/img/slider.jpg" alt="" class="responsive"/></li>
              </ul>
            </div>
          </article>
        </div>
      </div><!-- end wmuSlider example1 -->
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="main_bg"  id="about"><!-- start about us -->
  <div class="container">
    <div class="row about">
      <div class="col-md-3 about_img">
        <img src="../../assets/img/founders.png"alt="" class="responsive"/>
      </div>
      <div class="col-md-9 about_text">
        <h3>途徒创始人-<strong>李小山</strong></h3>
        <h4>TuTu CEO</h4>
        <p class="pro">途徒网络科技责任有限公司创始人，目前公司的法人代表。他从事旅游租车行业长达20年，对旅游市场及汽车租赁市场具有独特认识和见解。他在四川的旅游租车行业广泛的号召力和影响力。他常年关注互联网行业，期望将互联网行业与自驾旅游行业结合，向整个自驾旅游市场注入新的血液，带动整个行业的高速发展。
        </p>
        <!--div class="soc_icons navbar-right">
                  <ul class="list-unstyled text-center">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  </ul>
              </div-->
      </div>
    </div>
  </div>
</div>
