<div class="side-bar">
  <a href="/">
      <i class="fa fa-arrow-left back-arrow"></i>
    <!--img src="../assets/img/return_arrow.png" style=""-->
  </a>
</div>

<div class="bg-img"></div>
<aside class="bg-white" style="" >
  <div id="tf-services" class="text-center" >
    <div class="container" >
      <div class="section-title center">
        <div class="clearfix"></div>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 service">
          <i class="fa fa-pencil-square"></i>
          <h4><strong>行程定制</strong></h4>
          <p class="p-text">您只需要提供大概的旅行行程，我们团队会为您规划出更加详细的旅游方案，定制出属于您的完美的旅游行程</p>
        </div>

        <div class="col-md-3 col-sm-6 service">
          <i class="fa fa-user"></i>
          <h4><strong>司机师傅</strong></h4>
          <p class="p-text">为您提供舒心可靠的司机师傅，让您在旅游行程中免去许多不必要的麻烦，主宰自己的旅游行程</p>
        </div>

        <div class="col-md-3 col-sm-6 service">
          <i class="fa fa-bus"></i>
          <h4><strong>旅行车辆</strong></h4>
          <p class="p-text">为您提供温馨舒适的旅游车辆，最佳的人数和车辆进行匹配，让您全身心的投入旅游的愉悦之中</p>
        </div>

        <div class="col-md-3 col-sm-6 service">
          <i class="fa fa-phone"></i>
          <h4><strong>旅游咨询</strong></h4>
          <p class="p-text">全天24小时的旅游咨询，不管您是否为我们的客户，我们都可以为您提供免费的旅游相关咨询</p>
        </div>
      </div>
    </div>
  </div>
</aside>
