<nav id="topNav" class="navbar navbar-default navbar-fixed-top panel panel-primary">
    <div class="container-fluid panel-heading">
        <div class="navbar-header" style="visibility: hidden">
            <a class="navbar-brand" href="#home" id="logo">TuTuFree</a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#home">主页</a>
                </li>
                <li>
                    <a class="page-scroll" href="#video">关于途徒</a>
                </li>
                <li>
                    <a class="page-scroll" href="#section_recruit">司机招募</a>
                </li>
                <li>
                    <a class="page-scroll" href="#section_follow_us">订阅我们</a>
                </li>
                <li>
                    <a class="page-scroll" href="#section_trip">行程预约</a>
                </li>
                <li>
                    <a class="page-scroll" href="#section_contact">联系我们</a>
                </li>
                <li>
                    <a class="page-scroll" href="#section_recommend">行程推荐</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="login_action" class="page-scroll" data-toggle="modal"
                       title="A free Bootstrap video landing theme"
                       href="/login">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="home" class="home-overlay">
    <div class="inner">
        <h1 class="cursive headline">途徒自由行</h1>
        <h4>让旅途更自由</h4>
    </div>
</section>

<section class="card" id="video">
    <div class="content" id="video_content">
        <video webkit-playsinline="true" style="height: 100%" autoplay="flase" height="444" loop data-wow-delay="0.5s"
               id="video-background">
            &lt;!&ndash;<source src="../../assets/video/logo.mp4" type="video/mp4">
            您的浏览器不支持视频，建议您升级浏览器&ndash;&gt;
        </video>

    </div>

</section>

<section class="card" id="section_recruit">
    <div class="content" id="driver_recruit">
        <div class="page-overlay ">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-offset-1">
                        <div class="welcome">
                            <h3>欢迎加入途徒师傅</h3>
                            <hr class="hr-code-color">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-offset-1 recruit_intro">
                        <h4>自由行司机师傅独立化、合法化，排除中间商，工作更自由、更稳定，享受途徒平台众多福利，放心做个自由行好师傅</h4>
                        <h5>途徒自由行,让旅途更自由</h5>

                        <a class="hvr-bounce-to-right btn" href="">了解更多</a>
                        <a class="hvr-bounce-to-right btn"  (click)="navByRouter('/driver/register')">司机注册</a>
                    </div>
                    <div class="col-md-4 col-lg-offset-1  red ">
                        <ul>
                            <li><a class="driver-term-color"><i class="fa fa-check"> </i>驾龄三年以上的司机师傅</a></li>
                            <li><a class="driver-term-color"><i class="fa fa-check"> </i>熟悉一个以上的旅游景区</a></li>
                            <li><a class="driver-term-color"><i class="fa fa-check"> </i>身体健康、性格开朗、善于沟通</a></li>
                            <li><a class="driver-term-color"><i class="fa fa-check"> </i>认真踏实负责、协调能力强</a></li>

                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>


</section>

<section class="card" id="section_follow_us">
    <div class="content" id="follow_us">
        <div class="page-overlay ">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-offset-1 ">
                        <br>
                        <img src="../../assets/img/code7.png" style="height:60%;width:60%" class="img-responsive" >
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            <div class="section-title">
                                <h2>公众号</h2>
                                <h1 class="headline">途徒自由行</h1>
                                <hr class="hr-code-color">
                                <div class="clearfix"></div>
                            </div>
                            <p class="intro">途徒自由行，让旅途更自由。想获得更多的旅游信息吗？想有一个更加美好的旅行吗？那么请快速扫码闪电微信关注。美好的风景正等着你</p>
                            <ul class="about-list">
                                <li>
                                    <span class="fa fa-cog fa-spin"></span>
                                    <strong class="font1">司机招募</strong> - 方便快捷的司机报名,赶快来加入吧
                                </li>
                                <li>
                                    <span class="fa fa-cog fa-spin"></span>
                                    <strong>旅游信息</strong> - 定期推送旅游信息,定制属于你的旅游行程
                                </li>
                                <li>
                                    <span class="fa fa-cog fa-spin"></span>
                                    <strong>客服咨询</strong> - 一对一的客服咨询,拥有一个舒心的自由行
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="card" id="section_trip">
    <div class="content" id="route">
        <div class="container">
            <div class="section-title center">
                <div class="text-center">
                    <h1 class="headline">行程预定</h1>
                    <div class="line">
                        <hr>
                    </div>

                    <h4>您可以在这里预定您的行程，我们将竭诚为您服务</h4>
                </div>
            </div>
            <div class="row" id="contact-content">
                <div class="col-md-12">
                    <div class="row ">
                        <div class="col-md-4 ">
                            <p class="text-right">您的称呼</p>
                        </div>
                        <div class="col-md-5 col-lg-offset-1 ">
                            <input type="text" [(ngModel)]="travelBooking.nikeName" class="form-control">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 ">
                            <p class="text-right">联系电话</p>
                        </div>
                        <div class="col-md-5 col-lg-offset-1 ">
                            <input type="text" [(ngModel)]="travelBooking.phoneNum" class="form-control">

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 ">
                            <p class="text-right">出行日期</p>
                        </div>
                        <div class="col-md-5 col-lg-offset-1 ">
                            <div>
                               <!--input type="text" [(ngModel)]="travelBooking.date" data-beatpicker-range="true" class="form-control"/-->
                              <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control">
                                <div class="input-group-addon">
                                  <span class="glyphicon glyphicon-th"></span>
                                </div>
                              </div>

                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 ">
                            <p class="text-right">从哪出发</p>
                        </div>
                        <div class="col-md-5 col-lg-offset-1 ">
                            <input type="text" [(ngModel)]="travelBooking.starting" class="form-control" id="from">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 ">
                            <p class="text-right">去哪旅行</p>
                        </div>
                        <div class="col-md-5 col-lg-offset-1 ">
                            <select class="selectpicker form-control" [(ngModel)]="travelBooking.destination">
                                <option>成都</option>
                            </select>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 ">
                            <p class="text-right">详细备注</p>
                        </div>
                        <div class="col-md-5 col-lg-offset-1 ">
                            <textarea [(ngModel)]="travelBooking.remark" class="form-control" rows="8"
                                      placeholder="请详细说明您的要求 . ."></textarea>
                        </div>
                        <div class="col-md-5 col-lg-offset-1 ">
                            <label></label>
                            <button  id="submitTravleBookBtn" (click)="submitTravelBooking()" type="button" data-toggle="modal"
                                    data-target="#alertModal"
                                    class="btn ladda-button btn-primary btn-block btn-lg">提交<i
                                    class="ion-android-arrow-forward"></i></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="card" id="section_contact">
    <div class="content" id="contact_us">
        <div class="container">
            <div class="section-title center">
                <div class="text-center">
                    <h1 class="headline font2">联系我们</h1>
                    <div class="line">
                        <hr>
                    </div>
                    <h4 class="font2">如果你对TuTu有任何的建议和意见，欢迎联系我们</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row ">
                        <div class="col-md-3">
                            <img src="../../assets/img/message.png" style="width:100%;height:100%">
                        </div>
                        <div class="col-md-3 col-lg-offset-1 ">
                            <br>
                            <p class="fa fa-map-marker fa-2x">我们在
                            <h4 class="font2">成都市成华区建材路39号1栋7层0704号</h4>

                            <p class="fa fa-phone fa-2x"> 联系电话
                            <h4 class="font2">028-89688988</h4>
                            <h4 class="font2">028-62501972</h4>

                            <p class="fa fa-envelope fa-2x"> 邮箱
                            <h4 class="font2">support@tutufree.com</h4>

                        </div>
                        <div class='col-md-4 col-lg-offset-1 '>
                            <form class="contact-form row">
                                <div class="col-md-12">
                                    <label></label>
                                    <input type="text" [(ngModel)]="contactUs.name" name="name" class="form-control"
                                           placeholder="姓名">
                                </div>
                                <div class="col-md-12">
                                    <label></label>
                                    <input type="text" [(ngModel)]="contactUs.email" name="email" class="form-control"
                                           placeholder="邮箱">
                                </div>
                                <div class="col-md-12">
                                    <label></label>
                                    <input type="text" [(ngModel)]="contactUs.phoneNum" name="phoneNum"
                                           class="form-control" placeholder="联系电话">
                                </div>
                                <div class="col-md-12">
                                    <label></label>
                                    <textarea class="form-control" [(ngModel)]="contactUs.message" name="message"
                                              rows="4" placeholder="您的留言 . ."></textarea>
                                </div>
                                <div class="col-md-12">
                                    <label></label>
                                    <button (click)="submitContactUs()" type="button" id="send" data-toggle="modal"
                                            data-target="#alertModal"
                                            class="btn btn-primary btn-block btn-lg">发送<i
                                            class="ion-android-arrow-forward"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" style="min-height: auto " id="section_recommend">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="">
                    <img src="../../assets/img/picture/1-1.jpg" class="img-responsive images" alt="Image 1">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="">
                    <img src="../../assets/img/picture/2-1.jpg" class="img-responsive images" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="">
                    <img src="../../assets/img/picture/3-1.jpg" class="img-responsive images" alt="Image 3">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="">
                    <img src="../../assets/img/picture/4-1.jpg" class="img-responsive images" alt="Image 5">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="">
                    <img src="../../assets/img/picture/5-1.jpg" class="img-responsive images" alt="Image 5">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="">
                    <img src="../../assets/img/picture/6-1.jpg" class="img-responsive images" alt="Image 6">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-3 column">
                <h4>途徒服务</h4>
                <ul class="list-unstyled">
                    <li><a href="#">行程定制</a></li>
                    <li><a href="#">司机师傅</a></li>
                    <li><a href="#">旅行车辆</a></li>
                    <li><a href="#">旅游咨询</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h4>关于我们</h4>
                <ul class="list-unstyled">
                    <li><a href="/about">我们的团队</a></li>
                    <li><a href="/service">我们的服务</a></li>
                </ul>

            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h4>公司介绍</h4>
                <ul class="list-unstyled">
                    <li><a href="/company">TuTuFree公司</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 column">
                <h4>其他订阅</h4>
                <img src="../../assets/img/wlogo.png" id="wlogo">
            </div>
        </div>
        <br/>
        <span class="pull-right text-muted"><h5>©2017 TuTuFree.蜀ICP备17001573号 </h5></span>
    </div>
</footer>

<script type="text/javascript">


  $('.datepicker').datepicker({
    language: 'zh-TW'
  });

</script>


